@tileSize: 42px;

html {
   background: linear-gradient(to left, #56ab2f , #a8e063);
   font-family: 'Poppins', sans-serif;
   overflow: hidden; // to allow touch controls we cant allow scrolling the page
   transition: background 1000ms;
}

game {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:  center;
    table {
        opacity: 1;
        transition: opacity 650ms ease;

        &.completed {
            opacity: 0;
        }

        td {
            width: @tileSize;
            height: @tileSize;
            opacity: 0.4;
            transition: all 175ms linear;
            line-height: @tileSize;
            text-align: center;
            font-size: 38px;
            color: rgba(0,0,0,0);


            &.walkable {
                background: black;
            }

            &.filled, &.mover {
                background: gray;
                color: white;
            }
        }
    }
}

#reset-button {
    display: inline-block;
    padding: 24px;
    text-decoration: none;
    font-size: 42px;
    transition: all 220ms ease;
    border-radius: 50%;

    &, &:visited {
        color: rgba(0,0,0,0.6);
    }

    &:active {
        color: rgba(255,255,255,0.6);
        background: rgba(255,255,255,0.2);
    }
}