html {
   background: linear-gradient(to left, #FBD3E9, #BB377D);
}

game {
    table {
        td {
            width: 42px;
            height: 42px;

            &.walkable {
                background: black;
            }
        }
    }
}